.actionArea {
  display: flex;
  width: 300px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e7e7;

}
.actionArea button {
  background-color: aquamarine;
}

.actionArea .message {
  background-color: rgb(247, 247, 249);
  color: black;
  width: 300px;
  padding: 0.5rem;
  border-radius: 3px;
  font-size: 0.75rem;
}
