.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
  margin-top: 2rem;
}
.cards-container {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 2rem;
  margin: 0 1rem;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  height: 200px;
}

footer {
  display: flex;
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;

  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}
